*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
ckpt/
log/
tb*/
img*/
local_output*

*.pth.tar
*.ckpt
*.log
*.txt
*.ipynb
*distribution*/
*.pb/
*.npz

act_scales/
var30_weights*/
evaluate_figs*/
condition/